body {
  background-color: white;
}

.container {
  display: flex;

  .icon-container {
    width: 120px;
    height: 120px;
    background-color: lightgoldenrodyellow;
    border: 1px solid yellowgreen;

    margin: 10px;

    .svg-icon {
      width: 60px;
      height: 60px;
      padding: 30px;
      transition: transform 200ms ease-in-out, transform 200ms ease-in-out;
    }
    &:hover {
      .svg-icon {
        transform-origin: center;
        transform: scale(1.2);
      }
    }
  }
}
